In [3]:
import pandas as pd
import numpy as np

In [3]:
nba = pd.read_csv("nba.csv")

In [4]:
nba.index

RangeIndex(start=0, stop=458, step=1)

In [5]:
nba.values

array([['Avery Bradley', 'Boston Celtics', 0.0, ..., 180.0, 'Texas',
        7730337.0],
       ['Jae Crowder', 'Boston Celtics', 99.0, ..., 235.0, 'Marquette',
        6796117.0],
       ['John Holland', 'Boston Celtics', 30.0, ..., 205.0,
        'Boston University', nan],
       ...,
       ['Tibor Pleiss', 'Utah Jazz', 21.0, ..., 256.0, nan, 2900000.0],
       ['Jeff Withey', 'Utah Jazz', 24.0, ..., 231.0, 'Kansas', 947276.0],
       [nan, nan, nan, ..., nan, nan, nan]], dtype=object)

In [8]:
nba.has

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
nba.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
type(nba.index)

pandas.core.indexes.range.RangeIndex

In [12]:
type(nba.values)

numpy.ndarray

In [15]:
nba.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [16]:
nba.axes

[RangeIndex(start=0, stop=458, step=1),
 Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
        'College', 'Salary'],
       dtype='object')]

In [18]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [19]:
nba.Name

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
457              NaN
Name: Name, Length: 458, dtype: object

In [4]:
cve = pd.read_excel("cvee.xlsx")

In [5]:
cve

   Reference Number project    distro
0            INC001     dev    buster
1            INC001     dev    buster
2            INC001     dev    buster
3            INC001     dev    buster
4            INC001     dev    buster
..              ...     ...       ...
91           INC009     dev  bullseye
92           INC009     dev    buster
93           INC009     dev    alpine
94           INC009     dev    alpine
95           INC009     dev    alpine

[96 rows x 3 columns]

# value count for specific INCs

In [44]:
cve["Reference Number"].value_counts()

INC005    17
INC002    15
INC004    12
INC007    11
INC008    11
INC009    11
INC001    10
INC003     8
INC006     1
Name: Reference Number, dtype: int64

In [45]:
nba.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
nba.dropna(how = "all")
nba.dropna(subset = ["College"])

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [53]:
nba.copy().dropna()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [54]:
nba.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
cve["Reference Number"].astype("category")

0     INC001
1     INC001
2     INC001
3     INC001
4     INC001
       ...
91    INC009
92    INC009
93    INC009
94    INC009
95    INC009
Name: Reference Number, Length: 96, dtype: category
Categories (9, object): ['INC001', 'INC002', 'INC003', 'INC004', ..., 'INC006', 'INC007', 'INC008', 'INC009']

In [60]:
cve.sort_values(by = ["project", "distro"])

   Reference Number project  distro
11           INC002     dev  alpine
12           INC002     dev  alpine
13           INC002     dev  alpine
14           INC002     dev  alpine
74           INC008     dev  alpine
..              ...     ...     ...
52           INC005     uat  buster
53           INC005     uat  buster
54           INC005     uat  buster
55           INC005     uat  buster
56           INC005     uat  buster

[96 rows x 3 columns]

In [69]:
df1 = cve["distro"] == "buster"

In [70]:
df2 = cve["project"] == "dev"

In [66]:
df1["project"].unique()

array(['dev', nan, 'prd', 'uat'], dtype=object)

In [99]:
cve["Reference Number"].unique()
inc = ['INC001', 'INC002', 'INC003', 'INC004', 'INC005', 'INC006',
       'INC007', 'INC008', 'INC009']
inc

['INC001',
 'INC002',
 'INC003',
 'INC004',
 'INC005',
 'INC006',
 'INC007',
 'INC008',
 'INC009']

# final code for extracting only buster related CVEs (dev)

In [37]:
#fetching INCs related to buster and dev
df = cve[cve["distro"].isin(["buster"]) & cve["project"].isin(["dev","uat"])]
inc = df["Reference Number"].unique()

#fetching INCs related to non-buster and non-dev
df2 = cve[cve["project"].isin(["prd"]) & cve["distro"].isin(["alpine","bullseye","buster"])]
inc2 = df2["Reference Number"].unique()

#difference between above two lists
dif1 = np.setdiff1d(inc, inc2)
dif2 = np.setdiff1d(inc2, inc)
temp3 = np.concatenate((dif1, dif2))
print(list(temp3))

['INC003', 'INC004', 'INC006', 'INC009']

In [40]:
inc, inc2, dif1

(array(['INC001', 'INC002', 'INC003', 'INC004', 'INC005', 'INC006',
        'INC009'], dtype=object),
 array(['INC001', 'INC002', 'INC005'], dtype=object),
 array(['INC003', 'INC004', 'INC006', 'INC009'], dtype=object))

In [33]:
#fetching INCs related to buster and dev
df = cve[cve["distro"].isin(["buster"]) & cve["project"].isin(["dev","uat"])]
inc = df["Reference Number"].unique()

#fetching INCs related to non-buster and non-dev
df2 = cve[cve["Reference Number"].isin(inc) & cve["project"].isin(["prd"]) & cve["distro"].isin(["alpine","bullseye","buster"])]
inc2 = df2["Reference Number"].unique()

In [35]:
inc, inc2

(array(['INC001', 'INC002', 'INC003', 'INC004', 'INC005', 'INC006',
        'INC009'], dtype=object),
 array(['INC001', 'INC002', 'INC005'], dtype=object))

In [32]:
dif1, dif2

(array(['INC003', 'INC004', 'INC006', 'INC009'], dtype=object),
 array([], dtype=object))

In [74]:
cve.where("project" in ["prd", "uat"] & "Reference Number" in ['INC001', 'INC002', 'INC003', 'INC004', 'INC006', 'INC009'])

TypeError: unsupported operand type(s) for &: 'list' and 'str'

In [76]:
int(9/2)

7569%100

784%100

dict1 = { 0: [10], 1: [1,9], 4: [2,8], 5:[5], 6: [4,6], 9: [3,7] }

dict1

dict1[1][0]

5//2

13*0.5

4

# sqrt(x) leetcode#69

In [144]:
x=13
x_n = 0.5*x # 6.5
change = 1
while change > 0.1:
    next_n= 0.5* (x_n + x/x_n)
    change = abs(x_n - next_n)
    x_n = next_n
print(int(x_n))

3

In [155]:
class Node:
	# Function to initialise the node object
	def __init__(self, data):
		self.data = data # Assign data
		self.next = None # Initialize next as null


# Linked List class contains a Node object
class LinkedList:
	# Function to initialize head
	def __init__(self):
		self.head = None

	# This function prints contents of linked list
	# starting from head
	def printList(self):
		temp = self.head
		while (temp):
			print(temp.data)
			temp = temp.next


# Code execution starts here
if __name__ == '__main__':

	# Start with the empty list
	llist = LinkedList()

	llist.head = Node(1)
	second = Node(2)
	third = Node(3)

	llist.head.next = second # Link first node with second
	second.next = third # Link second node with the third node

	llist.printList()

1
2
3

In [160]:
class Node:
    def __init__(self,data):
        self.data = data
        self.next = None

class LinkedList:
    def __init__(self):
        self.head = None
    def printList(self):
        temp = self.head
        while (temp):
            print(temp.data)
            temp = temp.next
####

llist = LinkedList()

llist.head = Node(1)
second = Node(2)
third = Node(3)

llist.head.next = second # Link first node with second
second.next = third # Link second node with the third node

llist.printList()

1
2
3

In [166]:
second.next

# sliding window- max sum of subarrays

In [24]:
nums = [2,5,6,1,4,10,5,6,8]
k = 3
best = now = sum(nums[:k])
for i in range(k,len(nums)):
    now += nums[i] - nums[i-k]
    if now>best:
        best = now
print(best)

21

In [22]:
x = [-1]
sum1 = 0
ans = 0
k = 1
j = 0
i = 0
while j < len(x):
    sum1 = sum1+ x[j]
    if j-i+1 < k:
        j += 1
    elif j-i+1 == k:
        ans = max(ans, sum1)
        sum1 = sum1-x[i]
        i += 1
        j += 1
print(ans/4)

0.0

In [37]:
with open('readme.txt', 'r') as file:
    print(file.read())

hello hello

# Variable size - sliding window

In [97]:
nums = [1,3,2,1,4,1,3,2,1,1,2,8,1,7]
k = 8
n = len(nums)
i = j = summ = 0
ans = []

while j < n:
    summ += nums[j]
    if summ < k: 
        j +=1
    elif summ == k:
        ans.append([i,j])
        j += 1
    elif summ > k:
        while summ > k and i < j:
            summ -= nums[i]
            i += 1
        if summ == k:
            ans.append([i,j])
        j += 1
print(ans)

[[2, 5], [4, 6], [5, 9], [11, 11], [12, 13]]

In [96]:
#pair sum problem
#using dictionary

nums = [10,5,2,2,3,-6,9,11]
k = 4
dictt = {}
ans = []
for x in nums:
    if k-x in dictt or k-x == 0:
        ans.append([k-x,x])
    else:
        dictt[x] = True
print(ans)

[[2, 2], [10, -6]]

In [105]:
#mountain

nums = [5, 6, 1, 2, 3, 4, 5, 4, 3, 2, 0, 1, 2, 3, -2, 4]
n = len(nums)
i = 1
ans = 0
while i < n-1:
    isPeak = nums[i] > nums[i-1] and nums[i] > nums[i+1]
    if isPeak:
        #backward count
        j=i
        cnt =1
        while j>0 and nums[j]>nums[j-1]:
            cnt += 1
            j-=1
        #forward count
        j=i
        while j<n-1 and nums[j]> nums[j+1]:
            cnt +=1
            j+=1
        ans = max(ans,cnt)
        i=j
    else:
        i+=1
print(ans)

9

In [121]:
nums = [2,4,5,5,5,5,5,7,9,9]
target=5
try:
    first = nums.index(target)
    nums.reverse()
    second = len(nums) - nums.index(target) - 1
    print([first,second])
except:
    print([-1,-1])

[2, 3]

In [120]:
nums = [2,4,5,5,5,5,5,7,9,9]
print(nums)
nums.reverse()
print(nums)

[2, 4, 5, 5, 5, 5, 5, 7, 9, 9]
[9, 9, 7, 5, 5, 5, 5, 5, 4, 2]

In [122]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry")

print(x)

2

In [123]:
dictt= {2:1,3:2}
dictt[2]

1

In [161]:
19//10

0

In [162]:
19%10

1

In [154]:
1+4+9+16+25

55

In [236]:
n = 29
while n > 0 :
    x= n%10   
    n = n//10 
    summ += x*x
    #print(n,'*',summ)
    if n == 0 and summ//10 > 0:
        n = summ
        summ = 0
    elif n == 0 and summ//10 == 0:
        if summ == 1:
            print(True)
        else:
            print(False)

False

In [232]:
summ = 0
n = 0

In [222]:
285//10

28

In [224]:
2//10

0

In [238]:
n = 1111111
summ = 0
sett= set()
while n > 0 :
    x= n%10   
    n = n//10 
    summ += x*x
    sett.add(summ)
    if n == 0 and summ//10 > 0 and summ not in sett:
        sett.add(summ)
        n = summ
        summ = 0
    elif n == 0 and summ//10 == 0 and summ in sett:
        print(False) 
    elif n == 0 and summ//10 == 0 and summ not in sett:
        print(True)

False

# to fetch record from GCS bucket

In [128]:
try:
    from google.cloud import storage
    import google.cloud.storage
    import json
    import os
    import sys
except Exception as e:
    print("Error : {} ".format(e))

In [152]:
PATH = os.path.join(os.getcwd() , 'tfgcp-365108-b232dd128c1c.json')
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = PATH

storage_client = storage.Client(PATH)

bucket = storage_client.get_bucket('srbsk')

filename = [filename.name for filename in list(bucket.list_blobs(prefix='')) ]

max_size= []
for i in filename:
    max_size.append(bucket.get_blob(i).size)
round(max(max_size)/1024/1024,1)

0.3

In [147]:
PATH = os.path.join(os.getcwd() , 'tfgcp-365108-b232dd128c1c.json')
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = PATH
import argparse
import os
import pprint
import time
import uuid

from google.api import label_pb2 as ga_label
from google.api import metric_pb2 as ga_metric
from google.cloud import monitoring_v3
from typing import Optional, Dict

project_id="tfgcp-365108"
client = monitoring_v3.MetricServiceClient()
project_name = f"projects/{project_id}"
descriptor = ga_metric.MetricDescriptor()
descriptor.type = "custom.googleapis.com/my_metric4" + '20'
descriptor.metric_kind = ga_metric.MetricDescriptor.MetricKind.GAUGE
descriptor.value_type = ga_metric.MetricDescriptor.ValueType.DOUBLE
descriptor.description = "This is a simple example of a maximum size of an object in bucket metric."

# labels = ga_label.LabelDescriptor()
# labels.key = "TestLabel"
# labels.value_type = ga_label.LabelDescriptor.ValueType.STRING
# labels.description = "This is a test label"
# #descriptor.labels.append(labels)

descriptor = client.create_metric_descriptor(
    name=project_name, metric_descriptor=descriptor
)
print("Created {}.".format(descriptor.name))

Created projects/tfgcp-365108/metricDescriptors/custom.googleapis.com/my_metric320.

In [162]:
import argparse
import os
import pprint
import time
import uuid
from google.cloud import monitoring_v3

project_id="tfgcp-365108"
client = monitoring_v3.MetricServiceClient()
project_name = f"projects/{project_id}"

series = monitoring_v3.TimeSeries()
series.metric.type = "custom.googleapis.com/my_metric4" + '20'
series.resource.type = "global"
# series.resource.labels["bucket_name"] = "srbsk"
# series.resource.labels["location"] = "us-east1"
series.metric.labels["TestLabel"] = "My Label Data"
now = time.time()
seconds = int(now)
nanos = int((now - seconds) * 10 ** 9)
interval = monitoring_v3.TimeInterval(
    {"end_time": {"seconds": seconds, "nanos": nanos}}
)
point = monitoring_v3.Point({"interval": interval, "value": {"double_value": round(max(max_size)/1024/1024,2)}})
series.points = [point]
client.create_time_series(name=project_name, time_series=[series])

In [165]:
round(max(max_size)/1024/1024,1)

0.3

In [166]:
max(max_size)/1024

303.5888671875